<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('admin_group_index') }}">
                <span class="tag tag-default tag-pill pull-xs-right">0</span>
                {{ 'Groups'|trans }}
            </a>
            <a href="{{ path('admin_group_new') }}">{{ 'Create'|trans }}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('admin_command_index') }}">
                <span class="tag tag-default tag-pill pull-xs-right">0</span>
                {{ 'Commands'|trans }}
            </a>
            <a href="{{ path('admin_command_new') }}">{{ 'Create'|trans }}</a>
        </li>
    </ul>
</div>