<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<!-- Fixed navbar -->
<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container bg-inverse p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                    data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">Remote</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Home <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    {% if app.user %}

                    {% elseif not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                        </li>
                    {% endif %}


                    <li class="nav-item">
                        <a class="nav-link" href="#">About idea</a>
                    </li>


                    {% if is_granted('ROLE_ADMIN')  %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_group_index') }}">Admin</a>
                        </li>
                    {% endif %}



                    {% if app.user %}
                    <form class="form-inline pull-xs-right hidden-xs">
                        <input class="form-control" type="text" placeholder="Search">
                        <button class="btn btn-outline" type="submit">Search</button>
                    </form>

                    <ul class="nav navbar-nav pull-xs-right">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_profile_show') }}">
                                Hello <b>{{ app.user.username }}</b> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-divider"></a>
                        </li>
                    </ul>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>


</div>

{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {% if flash_message is iterable %}
        <code>
            {% for line in flash_message %}
                {{ line|e }}<br>
            {% endfor %}
        </code>
        {% else %}
                {{ flash_message }}
        {% endif %}
    </div>
{% endfor %}

{% block body %}{% endblock %}


<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

{% javascripts '@AppBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}
</body>
</html>
