{% extends 'base.html.twig' %}

{% block body %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>CommandGroup creation</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">{{ 'Create'|trans }}</button>
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('admin_group_index') }}">Back to the list</a>
                    </li>
                </ul>



            </div>



            {% include "@AppAdmin/partials/sidemenu.html.twig" %}

        </div>


    </div>

{% endblock %}
