{% extends 'base.html.twig' %}

{% block body %}
    <h1>CommandGroup</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commandGroup.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ commandGroup.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ commandGroup.slug }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_group_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_group_edit', { 'id': commandGroup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
